<div class="noPrint">
  <div [ngStyle]="config" style="width: 100%;">
    <h1 class="text-center text-white">Curriculum App</h1>
    <div class="container p-4 d-flex justify-content-center text-white ">
      <div class="col">
        <p>Cor</p>
        <select [(ngModel)]="selectedColor" (ngModelChange)="emitConfig()">
          <option *ngFor="let item of colors" [value]="item.code">{{item.name}}</option>
        </select>
      </div>
      <div class="col">
        <p>Linguagem</p>
        <select [(ngModel)]="selectedLanguage" (ngModelChange)="emitConfig()">
          <option *ngFor="let item of languages" [value]="item.code">{{item.name}}</option>
        </select>
      </div>
      <div class="col">
        <p>Fonte</p>
        <select [(ngModel)]="selectedFont" (ngModelChange)="emitConfig()">
          <option *ngFor="let item of fonts" [value]="item.font">{{item.name}}</option>
        </select>
      </div>

      <div class="col">
        <p>Selecionar Template</p>
        <select [(ngModel)]="selectedTemplate" (ngModelChange)="emitConfig()">
          <option [value]="1">1</option>
          <option [value]="2">2</option>
          <option [value]="3">3</option>
          <option [value]="4">4</option>
        </select>
        <!-- <input type="checkbox" [(ngModel)]="templates" style="width: 30px; height: 30px;" id="templates"
          name="templates" checked> -->
        <!-- <label for="templates">Mostrar Templates</label> -->
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="templates">
    <div class="col-12 row justify-content-center ">
      <div class="col-4">
        <img class="shadow-lg bg-white rounded p-4" [ngStyle]="configScreen" src="../../../assets/template1.png" />
      </div>
      <div class="col-4">
        <img class="shadow-lg bg-white rounded p-4" [ngStyle]="configScreen" src="../../../assets/template2.png" />
      </div>
      <div class="col-4">
        <img class="shadow-lg bg-white rounded p-4" [ngStyle]="configScreen" src="../../../assets/template3.png" />
      </div>
    </div>
  </div>
</div>