<div class="row justify-content-center">
  <div class="col ">
    <h5>Selecione uma cor</h5>
    <p-dropdown #drop [options]="colors" (ngModelChange)="emitConfig()" [(ngModel)]="selectedColors" optionLabel="name"
      class="col-12 row justify-content-center">
      <ng-template pTemplate="selectedItem">
        <div class="row justify-content-center" *ngIf="selectedColors">
          <div class="col-2" [ngStyle]="{background: selectedColors.code}"></div>
          <div class="col">{{selectedColors.name}}</div>
        </div>
      </ng-template>
      <ng-template let-color pTemplate="item">
        <div class="row justify-content-center">
          <div class="col-2" [ngStyle]="{background: color.code}"></div>
          <div class="col">{{color.name}}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
  <div class="col">
    <h5>Selecione uma fonte</h5>
    <p-dropdown #drop [options]="fonts" (ngModelChange)="emitConfig()" [(ngModel)]="selectedFonts" optionLabel="name"
      class="row justify-content-center">
      <ng-template pTemplate="selectedItem">
        <div class="row justify-content-center" *ngIf="selectedFonts">
          <div class="col">{{selectedFonts.name}}</div>
        </div>
      </ng-template>
      <ng-template let-item pTemplate="item">
        <div class="row justify-content-center">
          <div class="col">{{item.name}}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
</div>